<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}HealTrack{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="temp_patient/css/bootstrap.css">
    <link rel="stylesheet" href="temp_patient/css/themify-icons.css">
    <link rel="stylesheet" href="temp_patient/css/flaticon.css">
    <link rel="stylesheet" href="temp_patient/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="temp_patient/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="temp_patient/vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="temp_patient/css/style.css">
    <link rel="stylesheet" href="temp_patient/css/responsive.css">
</head>
<body>

    <!--================Header Menu Area =================-->
    <header class="header_area">  
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <a class="navbar-brand logo_h" href="{{ path('home') }}"><img src="img/logo_remove_back.png" alt=""></a>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="{{ path('home') }}">Accueil</a></li> 
                            <!--<li class="nav-item"><a class="nav-link" href="about-us.html">oui</a></li>-->
                            <li class="nav-item"><a class="nav-link" href="{{ path('soin') }}">Soin</a></li>   
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Connexion/inscription</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="{{ path('login') }}">Connexion</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{{ path('inscription') }}">Inscription</a></li>
                                </ul>
                            </li> 
                            
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Menu Area =================-->

 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="temp_patient/jsjquery-2.2.4.min.js"></script>
    <script src="temp_patient/jspopper.js"></script>
    <script src="temp_patient/jsbootstrap.min.js"></script>
    <script src="temp_patient/jsstellar.js"></script>
    <script src="temp_patient/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="temp_patient/jsjquery.ajaxchimp.min.js"></script>
    <script src="temp_patient/jswaypoints.min.js"></script>
    <script src="temp_patient/jstheme.js"></script>